* {
  box-sizing: border-box;
}
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;  
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  width: 100%;
    color: #302C2A;
    font-family: "游ゴシック", YuGothic, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: subpixel-antialiased;
}
body{
  font-family: StoneSansITCPro-Medium,FP-こぶりなゴシック StdN W3,ヒラギノ角ゴ ProN,Hiragino Kaku Gothic ProN,Yu Gothic,YuGothic,メイリオ,Meiryo,sans-serif;
  line-height: 2;
  color: #000;
  letter-spacing: .08em;
  background-color: #fff;
  font-feature-settings: "palt";
}
.logo-wrapper{
  padding:50px 0 30px 0;
}
.login-contact{
  display:flex;
}
.logo{
  width:55%;
  text-align:right;
}
.signup{
  width:30%;
  text-align:right;
}
.signup3{
  color:black;
  font-weight: normal;
  cursor:pointer;
}
.signup3:hover{
  opacity:0.7;
}
.header{
  width:100%;
  padding-bottom:20px;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-contact{
  text-align:center;
}
.header-contact a{
  color:black;
  margin-right:30px;
  padding-bottom:5px;
}
.header-contact a:hover{
  border-bottom:1px solid black;
  opacity:0.7;
}
.message-wrapper{
  padding-top:50px;
  padding-bottom:100px;
}
.message-contact{
  width:470px;
  margin:0 auto;
  background-color: #f6f6f6;
  padding:20px 30px;
}
.main-wrapper{
  padding-bottom:100px;
}
.main-contact{
  display:flex;
}
.main-item{
  width:50%;
  padding-right:80px;
}
.main{
  text-align:center;
  padding-left:50px;
}
.text-p{
  text-align:center;
}
#product{
  padding-bottom:70px;
}
.heading{
  padding-left:110px;
  font-size:24px;
  font-family: StoneSansITCPro-Medium,Avenir,sans-serif;
    line-height: 1;
    letter-spacing: .18em;
    font-weight: normal;
    padding-bottom:50px;
}
.product-contact{
  display:flex;
}
.product-item{
  width:33.33333%;
  padding-left:15px;
  padding-right:15px;
}
.product-item img{
  width:100%;
}
.text{
  font-weight: normal;
  font-size:14px;
}
.product-btn{
  padding-top:60px;
  text-align:center;
}
.btn{
  display:inline-block;
  width:300px;
}
.signup2{
  border:1px solid black;
  color:black;
  font-weight: normal;
  margin-right:30px;
  padding:14px 0;
}
.signup2:hover{
  background-color:black;
  color:white;
}
#news{
  padding-top:60px;
  padding-bottom:100px;
  background-color:#f6f6f6;
}
.container{
  width:85%;
  margin:0 auto;
}
.heading1{
  font-size:26px;
  font-family: StoneSansITCPro-Medium,Avenir,sans-serif;
    line-height: 1;
    letter-spacing: .18em;
    font-weight: normal;
    padding-bottom:50px;
}
.news-contact{
  width:75%;
  margin:0 auto;
  padding-bottom:50px;
}
.date{
  font-size:12px;
  color:#AFAFAF;
  padding-right:30px;
}
.info{
  font-size:12px;
  color:#AFAFAF;
  padding-right:30px;
}
.news-text{
  font-size:13px;
}
.news{
  border-top: 1px solid #AFAFAF;
  padding-top:50px;
  display:flex;
}
.news-item{
  width:33.33333%;
  padding-right:30px;
}
.news-item img{
  width:100%;
}
.news-item p{
  font-size:13px;
}
#JOURNAL{
  padding:120px 0 ;
}
.JOURNAL-contact{
  display:flex;
}
.JOURNAL-item{
  width:33.33333%;
  padding-right:30px;
}
.JOURNAL-item img{
  width:100%;
}
.JOURNAL-item p{
  font-size:14px;
}
.date1{
  font-size:13px;
  color:#AFAFAF;
  padding-right:20px;
}
.STORY{
  font-size:13px;
  color:#AFAFAF;
}
.lobo-contact{
  position:relative;
}
.lobo-item{
  width:380px;
  position:absolute;
  top:180px;
  right:140px;
}
.lobo-item h4{
  font-size:24px;
  padding-bottom:50px;
}
#LABORATORY{
  padding-bottom:110px;
}
footer{
  border-top:1px solid #AFAFAF;
  padding:35px 0;
  background-color:#f6f6f6;
}
.footer-contact{
  display:flex;
}
.footer-item1{
  width:20%;
}
.footer-item2{
  width:50%;
  text-align:center;
}
.footer-item a{
  font-size:15px;

}
.footer-item{
  width:30%;
}
.footer-p{
  text-align:right;
  padding-right:20px;
  font-size :12px;
  color:#AFAFAF
}

.footer-item1 li{
  float:left;
}
.icon{
  margin-left:20px;
  margin-right:10px;
}
.footer-item2 a{
  font-size:15px;
  color:black;
  margin-right:15px;
  padding-bottom:5px;
}
.footer-item2 a:hover{
  border-bottom:1px solid black;
  opacity:0.7;
}
.signup-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display:none;
}
.modal{
  width:450px;
  height:auto;
  text-align:center;
  background-color:#AFAFAF;
  position:absolute;
  top:25%;
  left:35%;
}
.fa-window-close{
  cursor: pointer;
  position:absolute;
  top:12px;
  right:12px;
}
.signup-heading h4{
  padding-top:30px;
  font-size:18px;
  padding-bottom:40px;
}
.form-contact{
  width:300px;
  padding:10px 0;
  margin-bottom:30px;
}
.btn2{
  display:inline-block;
  cursor: pointer;
}
.signup2{
  width:200px;
  border:1px solid black;
  padding:7px 0;
  margin-bottom:30px;
}
.signup2:hover{
  background-color:black;
  color:white;
}
.footer-p1{
  font-size:15px;
  text-align:center;
  padding-top:30px;
}
.footer-p2{
  font-size:10px;
  text-align: center;
}



